header {
    color: white;
    text-align: center;
    font-size: 45px;
    margin: 20px;
}

body {
    background-image: url(/imagens/akat.jpg);
}

.game {
    background-color: rgb(99, 4, 4);
    width: 45%;
    height: 700px;
    margin: 0 auto;
    padding-top: 20px;
    border: solid rgb(200,76,76);
    border-radius: 5%;
}

.matriz {
    background-color: white;
    width: 400px;
    margin: auto;
    border: 1px solid black;
    margin-top: 35px;
}

.line {
  max-height: 56px;
}

.cell {
    border: 1px red solid;
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    padding: 7px 0px;
    box-sizing: border-box;
}

.selected {
    background-color: rgb(223, 223, 107);
}

.found {
    background-color: rgb(86,251,64);
}

.liFound {
    text-decoration: line-through;
    color: lawngreen;
}

.btn-clear {
    display: inline-block;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    vertical-align: top;
    margin-top: 20px;
    cursor: pointer;
}